# user name
DB_USER_SECRET= 

# name and password of the main DB
DB_NAME_SECRET= 
DB_PASSWORD_SECRET= 

# PgAdmin
PGADMIN_EMAIL= 
PGADMIN_PASSWORD=

# this is for access to file storage from from docker-compose 
# just copy the PGADMIN_EMAIL and replace @ with _ 
PGADMIN_EMAIL_storage = 

# the DB name to restore to by the restore.bat script
DB_RESTORE_NAME_SECRET= 
